.business-header{
    display: flex;
    min-height: 430px;
    min-width: 990px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 24px;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    flex-direction: column;
}

.bh-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15%;
}

.bh-info-info{
    display: flex;
    flex-direction: column;
}

.bh-info-info h1{
    margin-bottom: 15px;
}

.bh-star-holder{
    display: flex;
    align-items: center;
}

.bh-star-holder p{
    margin: 0;
    margin-left: 15px;
}

.bh-info-info > p{
    margin-top: 15px;
}