.business-header{
    display: flex;
    min-height: 430px;
    min-width: 990px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 24px;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    flex-direction: column;
}

.bh-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15%;
}

.bh-info-info{
    display: flex;
    flex-direction: column;
}

.bh-info-info h1{
    margin-bottom: 15px;
}

.bh-star-holder{
    display: flex;
    align-items: center;
}

.bh-star-holder p{
    margin: 0;
    margin-left: 15px;
}

.bh-info-info > p{
    margin-top: 15px;
}

.bh-info-review{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bh-info-review a{
    background-color: #D32323;
    text-decoration: none;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    // width: 250px;
    // height: 45px;
    border-radius: 5px;
    padding: 9px 24px 9px 24px;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 150px;
}

.bh-info-review svg{
    margin-right: 7px;
}