.business-header{
    display: flex;
    min-height: 430px;
    min-width: 990px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 24px;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    flex-direction: column;
}

.bh-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15%;
    margin-bottom: 7px;
}

.bh-info-info{
    display: flex;
    flex-direction: column;
}

.bh-info-info h1{
    margin-bottom: 15px;
}

.bh-info-info > p:last-child{
    margin-bottom: 0;    
}

.bh-star-holder{
    display: flex;
    align-items: center;
}

.bh-star-holder p{
    margin: 0;
    margin-left: 15px;
}

.bh-info-info > p{
    margin-top: 15px;
}

.bh-info-review{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bh-info-review a{
    background-color: #D32323;
    text-decoration: none;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    // width: 250px;
    // height: 45px;
    border-radius: 5px;
    padding: 9px 24px 9px 24px;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    // margin-right: 50px;
    // margin-right: 150px;
}

.bh-info-review svg{
    margin-right: 7px;
}

//////////////////////////////////

.bh-images{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 15%;
}

.map-container{
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid #e6e6e6;
    padding: 5px;
    width: 288px;
    margin-right: 5px;
    font-size: 16px;
}

.businessMap{
    width: 286px;
    height: 135px;
    background: lightgray;
    border: 1px solid #e6e6e6;
}

.map-info{
    margin: 10px;
    margin-top: 0;
    min-width: 750px;
}

.map-info svg{
    margin-right: 10px;
}

.map-info-address{
    font-weight: 600;
}

.map-info-address p:last-child{
    margin: 0;
    margin-left: 22px;
}

.map-info-address p:first-child{
    margin: 0;
    margin-top: 10px;
}

.map-info a{
    text-decoration: none;
    color: #0073bb;
}

.map-info a:hover{
    border-bottom: 1px solid #0073bb;
}

.bh-images-list{
    display: flex;
    align-items: flex-end
}

.bh-images-list img{
    width:220px;
    height:220px;
    transition: transform .2s; /* Animation */
}

.bh-images-list img:hover{
    transform: scale(1.2);
}