.input-header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #D32323;
    height: 64px;
    align-items: center;
}

.input-header a{
    text-decoration: none;

}

.input-header p{
    font-family: 'IBM Plex Mono', monospace;
    color: #FDC8AA;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

/* font-family: 'IBM Plex Mono', monospace; */


/* .input-header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #D32323;
    height: 90px;
}

.input-header img{
    width: 100px;
    height: 100px;
} */

/* .input-header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #D32323;
}

.input-header img{
    width: 100px;
    height: 64px;
} */