.review-complete-wrapper-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    // min-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.review-complete-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 46%;
    margin: 0 auto;

    ul{
        margin: 0;
        padding: 0;
        color: red;
        margin-top: 5px;
    }

}
.review-form{
    width: 100%;
}

.businessNameWrap{
    display: block;
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.business-link{
    display: flex;    
    justify-content: flex-start;
    // max-width: 100%;
    width: 100%;
    color: #0073bb;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
}

.business-link:hover{
    border-bottom: 4px solid #0073bb;
}

.review-form-input{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // margin-left: 25px;
    margin-bottom: 30px;
    width: 100%;
    min-height: 400px;  
    height: 90%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 22px;
    justify-content: space-between;

}

.star-form{
    display: flex; 
    width: 100%;
}

.star-description{
    margin-left: 10px;
    font-size: 14px;
}


div[class^="starWrapper-"]{
    display: flex;
    list-style-type: none;
    overflow: hidden;
    background: image-url('star_input.png');
    width: 162px;
    height: 30px;

    li{
        height: 30px;
        width: 32px;
        margin: 0;

        button{
            opacity: 0;
            border: none;
            margin: 0;
            padding: 0;
            width: 35px;
            height: 32px;
            cursor: pointer;
        }

    }

    // li:first-child{
    //     margin-left: 0px;
    //     margin-right: 2px;
    // }
}


.starWrapper-0{
    background-position: 0px 0px !important;
}

.starWrapper-1{
    background-position: 0px -30px !important;
}

.starWrapper-2{
    background-position: 0px -60px !important;
}

.starWrapper-3{
    background-position: 0px -90px !important;
}

.starWrapper-4{
    background-position: 0px -120px !important;
}

.starWrapper-5{
    background-position: 0px -150px !important;
}

.review-text-label{
    min-height: 300px;
    width: 100%;
    height: 75%;
    // margin-bottom: 5px;
}

.review-text{
    // margin-top: 20px;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.review-form-second-part{
    display: flex;
    // margin-left: 25px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.photo-input{
    margin-left: 10px;
}

.review-submit{
    background-color: #D32323;
    text-decoration: none;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    width: 40%;
    height: 45px;
    border-radius: 5px;
    border: 0;
    margin: 0;
}