.sign-form-whole{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 40px 15%;
}

.sign-form{
    display: flex;
    width: 405px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
}

.sign-form h1{
    color: #D32323;
    margin-bottom: 18px;
}

#credential-redirect{
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
}

.cr-link{
    text-decoration: none;
    border: 3px, solid, transparent;
    padding-left: 5px;
}


.sign-form ul{
    padding: 0;
}

.authForm{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.sign-form fieldset{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid transparent;
    text-align:center;
    width: 304px;
}

.sign-form legend{
    font-size: 13m;
    padding: 0 15px;
    margin: 0 auto;
    color: #666666;
}


.authForm input[type="text"]{
    margin: 3px 0;
    padding: 6px 0;
    padding-left: 6px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #999999;
}

.authForm input[type="password"]{
    margin: 3px 0;
    padding: 6px 0;
    padding-left: 6px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #999999;
}

.name-form{
    display: flex;
    width: 304px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name-form input[type="text"]{
    margin: 3px 0;
    padding: 6px 0;
    padding-left: 6px;
    width: 143px;
    border-radius: 3px;
    border: 1px solid #999999;
}


.name-form input:first-child{
    margin-right: 100px;
}

.name-form input:last-child{
    margin-right: 0;
}


.sign-form-buttons{
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding: 15px 0;
}

.sign-form-buttons input[type="submit"]{
    background-color: #D32323;
    text-decoration: none;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0;
    margin: 0;
}

.sign-form-buttons input[value="Demo User"]{
    background-color: #3b5998;

}


.sign-form-buttons input[type="submit"]:hover{
    filter: brightness(150%);
}

.form-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}