
div[class^="br-big-"]{
    width: 132px;
    height: 24px;
    background: image-url('star_output.png');
    margin-right: 7px;
}

.br-big-0{
    background-position: 0px 0px !important;
}

.br-big-1{
    background-position: 0px -24px !important;
}

.br-big-1\.5{
    background-position: 0px -48px !important;
}

.br-big-2{
    background-position: 0px -72px !important;
}

.br-big-2\.5{
    background-position: 0px -96px !important;
}

.br-big-3{
    background-position: 0px -120px !important;
}

.br-big-3\.5{
    background-position: 0px -144px !important;
}

.br-big-4{
    background-position: 0px -168px !important;
}

.br-big-4\.5{
    background-position: 0px -192px !important;
}

.br-big-5{
    background-position: 0px -216px !important;
}


div[class^="br-mid-"]{
    width: 102px;
    height: 18px;
    background: image-url('star_output.png');
    margin-right: 7px;
}

.br-mid-0{
    background-position: 0px -240px !important;
}

.br-mid-1{
    background-position: 0px -258px !important;
}

.br-mid-1\.5{
    background-position: 0px -276px !important;
}

.br-mid-2{
    background-position: 0px -294px !important;
}

.br-mid-2\.5{
    background-position: 0px -312px !important;
}

.br-mid-3{
    background-position: 0px -330px !important;
}

.br-mid-3\.5{
    background-position: 0px -348px !important;
}

.br-mid-4{
    background-position: 0px -366px !important;
}

.br-mid-4\.5{
    background-position: 0px -384px !important;
}

.br-mid-5{
    background-position: 0px -402px !important;
}