.welcome-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1020px;
    padding-top: 30px;
    height: 570px;
    background: url(https://i.imgur.com/7nhcMrY.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.credentials{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.credentials-container{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}

.credentials-container a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.credentials-container a:last-child{
    padding: 7px;
    border: 2px solid white;
    border-radius: 7px;
}

.logo-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.site-logo{
    width: 260px;
    height: 80px;
    padding-top: 100px;
    background: url(https://i.imgur.com/S6PlXFq.png);
    background-size: cover;
}

.search-form{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.search-wrapper{
    background-color: white;
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 20px 12px 10px;
}

.search-prefix{
    padding-right: 10px;
}

.search-wrapper input{
    border: none;
    border-color: transparent;
    width: 230px;
}

.search-form button{
    background-color: #d32323;
    width: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    margin: 0;
}

.search-form button:active{
    background-color: #360a0a;
}