.welcome-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1020px;
    padding-top: 30px;
    height: 570px;
    background: image-url('welcome-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.credentials{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.credentials-container{
    display: flex;
    width: 200px;
    height: 36px;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}

#logout{
    background:none !important;
    border:none; 
    padding: 0 15px;
    font: inherit;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 9px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

#logout:hover{
    border-bottom: 3px solid white;
}

#login{
    padding: 0 15px;
    padding-top: 6px;
    padding-bottom: 9px;
    margin-right: 10px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

#login:hover{
    border-bottom: 3px solid white;
}

#signup:hover{
    background-color: white;
    color: black;
}

#signup{
    background-color: transparent;
}

.credentials-container a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.credentials-container a:last-child{
    padding: 7px 20px;
    border: 2px solid white;
    border-radius: 4px;
}

.logo-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.site-logo{
    width: 260px;
    height: 80px;
    padding-top: 130px;
    background: image-url('new_logo.png');
    background-size: cover;
}

.search-form{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.search-wrapper{
    background-color: white;
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 20px 12px 10px;
}

.search-prefix{
    padding-right: 10px;
}

.search-wrapper input{
    border: none;
    border-color: transparent;
    width: 230px;
}

.search-form button{
    background-color: #D32323;
    cursor: pointer;
    color: white;
    width: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    margin: 0;
}

.search-form button:active{
    background-color: #360a0a;
}

.search-form button:hover{
    filter: brightness(150%);
}


.welcome-suggestions{
    display: flex;
    min-width: 1000px;
    padding: 0 6%;
    margin-bottom: 70px;
    flex-direction: column;
}

.suggestion-title{
    color: #D32323;
    text-align: center;
}

.cuisine-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

.cuisine{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 218px;
    font-size: 14px;
}

.cuisine img{
    height: 174px;
    width: 218px;
    border-top-left-radius: 15px;    
    border-top-right-radius: 15px;
}

.cuisine div{
    // position: absolute;
    box-sizing: border-box;
    bottom: -37px;
    width: 218px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e6e6e6;
    border-top-color: transparent;
}




.cuisine:hover{
    box-shadow: 1px 4px 4px rgb(167, 165, 165);
    color: rgb(54, 174, 214);
}


// .cuisine div:hover{
//     display: block;
//     opacity: 0.6;
//     padding-top:100px;
//     padding-bottom:100px;
//     background-color: #413838;
//     color: white;
//     font-size: 20px;
//     font-weight: bold;
//     text-align: center;
// }

