.welcome-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1020px;
    padding-top: 30px;
    height: 570px;
    background: image-url('welcome-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.credentials{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.credentials-container{
    display: flex;
    width: 200px;
    height: 36px;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}

#logout{
    background:none !important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
    color: white;
    font-weight: 700;
}

.credentials-container a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.credentials-container a:last-child{
    padding: 7px;
    border: 2px solid white;
    border-radius: 7px;
}

.logo-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.site-logo{
    width: 260px;
    height: 80px;
    padding-top: 100px;
    background: image-url('logo.png');
    background-size: cover;
}

.search-form{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.search-wrapper{
    background-color: white;
    border-right: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 20px 12px 10px;
}

.search-prefix{
    padding-right: 10px;
}

.search-wrapper input{
    border: none;
    border-color: transparent;
    width: 230px;
}

.search-form button{
    background-color: #D32323;
    cursor: pointer;
    color: white;
    width: 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    margin: 0;
}

.search-form button:active{
    background-color: #360a0a;
}

.search-form button:hover{
    filter: brightness(150%);
}


.welcome-suggestions{
    display: flex;
    min-width: 1000px;
    padding: 0 8%;
    flex-direction: column;
}

.suggestion-title{
    color: #D32323;
    text-align: center;
}

.cuisine-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

.cuisine{
    position:relative;
    cursor: pointer;

}

.cuisine img{
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.cuisine div{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    width: 250px;
    height: 250px;
    border-radius: 15px;    
    text-align: center;
    color: transparent;
}

.cuisine div:hover{
    display: block;
    opacity: 0.6;
    padding-top:100px;
    padding-bottom:100px;
    background-color: #413838;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

